<div id="wrapper">
    <header>
        <span id="logo"> Favana Calender </span>
        <button id="loggain" ui-sref="users"> LOGGA IN</button>
        <button id="loggain" ng-click="showAdmin()"> Add event</button>
    </header>
    <event-admin></event-admin>

    <div class="calender" ng-init="build">
        <div class="header">
            <i class="fa fa-angle-left" ng-click="previous()"></i>
            <span>{{ month.format("MMMM, YYYY")}}</span>
            <i class="fa fa-angle-right" ng-click="next()"></i>
        </div>
        <div class="week names">
            <span class="day">Mån</span>
            <span class="day">Tis</span>
            <span class="day">Ons</span>
            <span class="day">Tor</span>
            <span class="day">Fre</span>
            <span class="day">Lör</span>
            <span class="day">Sön</span>
        </div>
        <div class="week" ng-repeat="week in weeks">
            <span class="calDay"
                  ng-class="{ today: day.
                              isToday, 'different-month': !day.isCurrentMonth,
                              isPast: day.isPast,
                              selected: day.date.isSame(selected) }"
                  ng-click="select(day)" ng-repeat="day in week.days">
                {{ day.number }}
                <br>
                <span class="listItem" ng-repeat="item in day.listEvents">
                    {{ item.Start_Time | date: 'HH:mm' }} {{ item.Title }}
                </span>
            </span>
        </div>
    </div>

</div>